.link{
    color: #333;
}

.link.active{
    color: #256de0;
}

.container{
    display: inline-flex;
    width: 96%;
    border: 1px solid #333;
    margin: 2vh 4vh;
    padding: 1vh 2vh;
    border-radius: 20px;
    text-decoration: none !important;
}

.logo{
    width: 20%;
    text-decoration: none;
}

.container ul{
    list-style: none;
    display: inline-flex;
    width: 80%;
}

.container ul li{
    flex: 1; 
    color: #333;
}

.container ul li a{
    text-decoration: none;
}